@model TabloidMVC.Models.ViewModels.TagViewModel

@{
    ViewData["Title"] = "ManageTags";
}

<h1>ManageTags</h1>

<h4>TagViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ManageTags">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post" />
            <div class="form-group">

                <select asp-for="@Model.SelectedTags"  multiple class="form-control" >
                   
                    @foreach (Tag tag in Model.Tags)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
              
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
